body {
	background-color: DarkSeaGreen;
}


#ul1{
	font-size: 20px;
}



#nav{	
	width: 150px;
	position: relative;
	overflow: hidden;
}

.rk{
	color: blue;
	font-size: 30px;
}

.logimg{
	height: 90px;
	left: 500px;
	position: relative;
	top: -90px;
}


.logo{
	
	position: absolute;
	left: 650px;
	top: 20px;
	color: gold;
	height: 70px;
}

li{text-align: center;}

.prev{
	left:-40px;
	top: 50px;
	height: 50px;
	width:30px;
	position: absolute;
	background: #ffcc00;
	border-radius: 30px;
}

.prev:hover{
  background: red;
}

.next:hover{
  background: red;
}

.next{
	left:611px;
	top:50px;
	height: 50px;
	width:30px;
	position: absolute;
	background: #ffcc00;

	border-radius: 30px;
}


.slider {
	left:50px;
	display: none;
	position: relative;
	width: 650px;
}

/* show-hide */
.showHide {
	display: block;
}

.slider__block {

	width: 600px;
	overflow: hidden;
}

.slider img {
	width: 200px;
	height: 150px;
}

.slider__block ul {
	height: 250px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider__block li {
	display: inline-block;
	list-style-type: none;
}


/* alert */
.alert {
	position: fixed;
	top: 50px;
	left: 250px;
	width: 750px;
	height: 200px;
	background-color: grey;
	border: 5px solid black;
	text-align: center;
	z-index: 20;
}


/* parallax */
.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	height: 300px;
}

.parallax-img {
	display: inline-block;
	align-self: center;
	position: absolute;
	width: 460px;
	height: 300px;
}

.parallax-img:first-of-type {
	background-image: url(img/img-parallax-2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.parallax-img:nth-of-type(2) {
	background-image: url(img/img-parallax-3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.parallax-img:last-of-type {
	background-image: url(img/img-parallax-4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.macbook {
	z-index: 10;
	background-image: url(img/img-parallax-1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 33%;
	height: 350px;
}

h1{
	color:blue;
	font-size: 30px;
	left: 40px;
	position: relative;
}

h1:active {
    color: green;
}