body{
background:#FFFACD url(../img/flat.png)no-repeat center;
	background-size: 57%;
	background-position: 720px 50px;
	position: relative;
}
#g a{
	color: blue;
	font-size: 20px;
}

#g a:active {
    color:red;
}
h2{
	color:#8B4513 ;
}



#btn-g-1{
	border-color: black;
	color: blue;
}
#btn-g-2{
	border-color: black;
	color: blue; 	
}
#btn-g-3{
	border-color: black;
	color: blue; 	
}


.slider {
	top: 10px;
	position: relative;
	width: 650px;
}

.slider-block {
	width: 600px;
	overflow: hidden;
}

.slider-img {
	width: 200px;
	height: 150px;
}

.slider-list {
	height: 250px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-li {
	display: inline-block;
	list-style-type: none;
}


#slider {
	display: none;
}

#slider2 {
	display: none;
}
#slider3 {
	display: none;
}

.show {
	display: block !important;
}

/*
.disk.showhide{
	display: block!important;
}
*/
/*Gallery*/

.showHide {
	display: none;
}


.gallery {
	display: none;

	/*justify-content: space-around;
	align-items: center;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 98vw;
	height: 90vh;
	border: 4px solid blue;
	z-index: 98;
	background-color: rgba(0, 0, 0, .8);

	
}



.gallery-img {
	width: 600px;
	height: 500px;
margin-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}

.gallery-prev{
	font-size: 60px;
	cursor: pointer;
	color:#FFD700;
	margin-top:250px;
	padding-left: 150px;

}
.gallery-next{
	margin-top:250px; 
	font-size: 60px;
	cursor: pointer;
	color:#FFD700;
}

.gallery-next:hover{
	color:red;
}
.gallery-prev:hover{
	color:red;
}

#closeBigSlider {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 25px;
	top: 5px;
	color: red;
	font-size: 25px;
}

.closeBigSlider = {
	display: none;
}

.prev{
	left:-40px;
	top: 50px;
	height: 50px;
	width:30px;
	position: absolute;
	background: #ffcc00;
	border-radius: 30px;
	text-align: center;
	font-size: 40px;
	color: #9932CC;

}

.prev:hover{
  background: red;
}

.next:hover{
  background: red;
}

.next{
	left:611px;
	top:55px;
	height: 50px;
	width:30px;
	position: absolute;
	background: #ffcc00;
text-align: center;
font-size: 40px;
	border-radius: 30px;
	color: #9932CC;
}


.slider {
	left:90px;
	display: none;
	position: relative;
	width: 650px;
}
